# Speed regression

In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
# load data
train_data = pd.read_csv(filepath_or_buffer="../data/data_train.csv",sep=";")
test_data = pd.read_csv(filepath_or_buffer="../data/data_test.csv",sep=";")

In [3]:
train_data.head()

,RiderID,Index,Date,Time,Average_Gradient,Max_Gradient,Distance,Highest_point,Lowest_point,Measured_time,Moving_time,Average_heart_rate,Max_heart_rate,Speed,Power,Cadence
0,1,78294,2015-02-09,05:50:12,0.0,5.0,9980.400,128.4,124.6,1375,1375,105.8,114,7.258473,92.4,85.3
1,1,62861,2014-08-23,12:52:26,3.3,16.0,1666.010,204.6,147.9,252,252,157.5,170,6.611151,271.9,88.3
2,1,88658,2014-09-30,06:19:38,0.0,0.0,345.600,59.0,59.0,36,36,158.9,160,9.600000,274.4,103.4
3,1,77748,2015-02-21,14:25:18,-8.3,-0.5,1572.900,617.8,487.2,123,123,99.1,104,12.787805,72.8,66.4
4,1,64485,2012-08-24,06:34:28,-7.6,-4.8,435.352,54.4,21.4,59,59,100.3,111,7.378847,4.9,60.3

In [4]:
test_data.head()

,Id,RiderID,Index,Date,Time,Average_Gradient,Max_Gradient,Distance,Highest_point,Lowest_point,Measured_time,Moving_time,Average_heart_rate,Max_heart_rate,Speed,Power,Cadence
0,1,1,87837,2012-05-20,09:04:45,1.6,2.2,506.70,5.6,-2.4,50,50,173.6,176,NaN,397.2,90.6
1,2,1,13232,2013-08-26,06:43:07,0.0,0.0,351.68,32.0,32.0,58,58,110.8,115,NaN,64.2,89.7
2,3,1,63908,2013-10-26,08:51:52,-4.7,-1.8,650.00,236.4,206.0,54,54,94.8,100,NaN,21.3,75.9
3,4,1,97224,2014-09-08,07:00:46,0.0,0.0,345.60,59.0,59.0,63,63,116.1,121,NaN,85.4,69.0
4,5,1,69163,2015-04-09,05:53:50,0.0,0.0,345.60,59.0,59.0,52,52,112.5,114,NaN,84.8,84.8

# Data Preprocessing

In [5]:
# split data into X and y sets
X = np.array(train_data.drop(['Index','Speed'], axis=1))
y = np.array(train_data['Speed'])

In [ ]:
# convert categorical data

In [6]:
# feature selection and modeling

Help on built-in function array in module numpy.core.multiarray:

array(...)
    array(object, dtype=None, copy=True, order=None, subok=False, ndmin=0)

    Create an array.

    Parameters
    ----------
    object : array_like
        An array, any object exposing the array interface, an
        object whose __array__ method returns an array, or any
        (nested) sequence.
    dtype : data-type, optional
        The desired data-type for the array.  If not given, then
        the type will be determined as the minimum type required
        to hold the objects in the sequence.  This argument can only
        be used to 'upcast' the array.  For downcasting, use the
        .astype(t) method.
    copy : bool, optional
        If true (default), then the object is copied.  Otherwise, a copy
        will only be made if __array__ returns a copy, if obj is a
        nested sequence, or if a copy is needed to satisfy any of the other
        requirements (`dtype`, `order`, etc.).
    order : {'C', 'F', 'A'}, optional
        Specify the order of the array.  If order is 'C', then the array
        will be in C-contiguous order (last-index varies the fastest).
        If order is 'F', then the returned array will be in
        Fortran-contiguous order (first-index varies the fastest).
        If order is 'A' (default), then the returned array may be
        in any order (either C-, Fortran-contiguous, or even discontiguous),
        unless a copy is required, in which case it will be C-contiguous.
    subok : bool, optional
        If True, then sub-classes will be passed-through, otherwise
        the returned array will be forced to be a base-class array (default).
    ndmin : int, optional
        Specifies the minimum number of dimensions that the resulting
        array should have.  Ones will be pre-pended to the shape as
        needed to meet this requirement.

    Returns
    -------
    out : ndarray
        An array object satisfying the specified requirements.

    See Also
    --------
    empty, empty_like, zeros, zeros_like, ones, ones_like, fill

    Examples
    --------
    >>> np.array([1, 2, 3])
    array([1, 2, 3])

    Upcasting:

    >>> np.array([1, 2, 3.0])
    array([ 1.,  2.,  3.])

    More than one dimension:

    >>> np.array([[1, 2], [3, 4]])
    array([[1, 2],
           [3, 4]])

    Minimum dimensions 2:

    >>> np.array([1, 2, 3], ndmin=2)
    array([[1, 2, 3]])

    Type provided:

    >>> np.array([1, 2, 3], dtype=complex)
    array([ 1.+0.j,  2.+0.j,  3.+0.j])

    Data-type consisting of more than one element:

    >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
    >>> x['a']
    array([1, 3])

    Creating an array from sub-classes:

    >>> np.array(np.mat('1 2; 3 4'))
    array([[1, 2],
           [3, 4]])

    >>> np.array(np.mat('1 2; 3 4'), subok=True)
    matrix([[1, 2],
            [3, 4]])